* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Raleway";
  font-weight: bold;
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body.load {
  overflow: hidden;
}

.loader {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: #e38d8f;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.active {
  visibility: visible;
  opacity: 1;
}

.loader__body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.spinner {
  height: 50px;
  width: -moz-max-content;
  width: max-content;
  font-size: 40px;
  font-family: Comfortaa, serif;
  letter-spacing: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5019607843);
  animation: loading 1.75s ease infinite;
}

.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 1 auto;
}

body.main .content {
  flex: 0 1 auto;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-main {
  max-width: 1140px;
}

.anim-item {
  opacity: 0;
}

.anim-item.bottom-to-top {
  transform: translateY(100%);
}

.anim-item.right-to-left {
  transform: translateX(100%);
}

.anim-item.left-to-right {
  transform: translateX(-100%);
}

section.main {
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 65;
}

.header.catalog .header__list li:nth-child(1) a {
  color: #e38d8f;
  pointer-events: none;
}

.header.delivery .header__list li:nth-child(2) a {
  color: #e38d8f;
  pointer-events: none;
}

.header.contacts .header__list li:nth-child(3) a {
  color: #e38d8f;
  pointer-events: none;
}

.header.main::before {
  transition: all 0.3s ease 0s;
}

.header.main.logo-hide .header__logo {
  opacity: 0;
  visibility: hidden;
}

.header.main.logo-hide .header__list {
  right: calc(50% - 189px);
}

.header.main.logo-menu .header__logo {
  opacity: 1;
  visibility: visible;
}

.header.main .header__body {
  justify-content: space-between;
}

.header.main .header__list {
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
  transition: all 0.3s ease 0s;
}

.header.main .header__logo {
  pointer-events: none;
  right: 0;
  transition: all 0.3s ease 0s;
}

.header.main.top::before {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.header.main.top .header__logo {
  color: #fff;
}

.header.main.top .header__burger .line {
  stroke: #fff;
}

.header.main.top .line {
  stroke: #333;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke 0.3s ease 0s;
}

.header.main.top.active .line {
  stroke: #333;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke 0.3s ease 0s;
}

.header.main.top.active .header__logo {
  color: #333;
  transition: all 0.3s ease 0.2s;
}

.header.main.top .header__link {
  color: #fff;
}

.header.main.top .header__link:hover {
  color: #333;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 7;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.4px;
  text-align: left;
  color: #333;
  z-index: 8;
}

.header__burger {
  z-index: 8;
  display: none;
}

.header__burger svg {
  width: 40px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burger .line {
  fill: none;
  stroke: #333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__burger .line-top-bottom {
  stroke-dasharray: 12 63;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 8;
}

.header__list li {
  margin-right: 30px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #333;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #e38d8f;
}

.footer {
  padding: 60px 0;
  background-color: #f7f7f7;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__column {
  width: 33.3333333333%;
}

.footer__logo {
  font-size: 22px;
  text-align: left;
  color: #777;
}

.footer__address {
  max-width: 180px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #777;
  margin-top: 15px;
  line-height: 1.4;
}

.footer__icons {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
}

.footer__icon {
  cursor: pointer;
  margin-right: 15px;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 33.3333333333%;
}

.footer__link {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #777;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  color: #333;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.cart {
  transition: all 0.3s ease 0s;
}

.cart-wrapper {
  position: fixed;
  overflow: hidden;
  z-index: 60;
  bottom: 30px;
  right: 30px;
}

.cart-wrapper.hide {
  visibility: hidden;
}

.cart.hide {
  opacity: 0;
  visibility: hidden;
}

.cart__body {
  position: relative;
  background-color: #fff;
  width: 420px;
  height: 520px;
  padding: 20px;
  border: 1px solid #777;
  border-radius: 20px;
  cursor: default;
  transition: width 0.3s ease 0s, height 0.3s ease 0s, border-radius 0s ease 0s;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease 0.3s;
}

.cart__title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.66px;
  text-align: left;
  color: #333;
}

.cart__close {
  position: absolute;
  padding: 10px;
  top: 10px;
  right: 10px;
  font-size: 23px;
  cursor: pointer;
  text-align: center;
}

.cart__items {
  max-height: calc(100% - 100px);
  margin-top: 15px;
  transition: all 0.3s ease 0.3s;
  overflow-y: auto;
}

.cart__items::-webkit-scrollbar {
  width: 10px;
}

.cart__items::-webkit-scrollbar-track {
  background-color: #fff;
}

.cart__items::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 0px;
  border-left: 4px solid #fff;
}

.cart__items::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

.cart__button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: calc(100% - 40px);
  border-radius: 30px;
  background-color: #e38d8f;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: background-color 0.3s ease 0s, opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
}

.cart__button:hover {
  background-color: #bb7576;
}

.cart__icon {
  position: absolute;
  right: -40px;
  bottom: 9px;
  transition: all 0.2s ease 0s;
}

.cart__icon-mobile {
  display: none;
}

.cart.closed .cart__body {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.3s ease 0s, height 0.3s ease 0s, border-radius 0.1s ease 0.2s;
}

.cart.closed .cart__header {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease 0s;
}

.cart.closed .cart__items {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease 0s;
}

.cart.closed .cart__button {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease 0s;
}

.cart.closed .cart__icon {
  right: 8px;
  transition: all 0.3s ease 0s;
}

.item-cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.item-cart:last-child {
  margin-bottom: 0;
}

.item-cart__left {
  display: flex;
}

.item-cart__image {
  position: relative;
  width: 80px;
}

.item-cart__image::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.item-cart__image img {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-cart__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-cart__info {
  margin-left: 10px;
}

.item-cart__title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: left;
  color: #333;
}

.item-cart__title span {
  font-family: Lato;
}

.item-cart__price {
  margin-top: 5px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #333;
}

.item-cart__price span {
  font-family: comfortaa;
}

.item-cart__counter {
  display: flex;
}

.item-cart__button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #848e65;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.item-cart__button:hover {
  background-color: #77815c;
}

.item-cart__button.disabled {
  background-color: #d9d9d9;
  color: #777;
  cursor: default;
  pointer-events: none;
}

.item-cart__count {
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333;
}

.item-cart__delete {
  width: 100%;
  background-color: #bb6767;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.item-cart__delete:hover {
  background-color: #a55f5f;
}

.no-webp .hero {
  background: #f2bdbd url("../img/bg.jpg") center center/cover no-repeat; }

.hero {
  flex: 1 1 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.hero__content.visible {
  visibility: visible;
  opacity: 1;
}

.hero__title {
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  text-align: center;
}

.hero__subtitle {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: #fff;
  text-align: center;
}

.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333333333%;
  padding: 60px 60px 100px 60px;
  background-color: #fff;
  transition: all 1s ease 0s;
}

.content-main__title {
  font-family: Comfortaa;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.66px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  margin: 35px 0;
}

.content-main__text {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.6px;
  text-align: center;
  color: #777;
}

.content-main__text::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: calc(50% - 25px);
  width: 50px;
  height: 2px;
  border-radius: 2px;
  background-color: #777;
}

.welcome__content {
  padding: 60px 0;
  width: 100%;
}

.welcome .content-main__text::after {
  display: none;
}

.link-main {
  position: relative;
  flex: 1 1 auto;
  width: 66.6666666667%;
}

.link-main.catalog {
  background-color: #d69e9f;
}

.link-main.interior {
  background-color: #878e6f;
}

.link-main.left {
  width: 33.3333333333%;
  background-color: #878e6f;
}

.link-main.right {
  width: 33.3333333333%;
  background-color: #d69e9f;
}

.link-main__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease 0s;
}

.link-main__link:hover::after {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.1450980392);
}

.link-main__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  transition: all 0.3s ease 0s;
}

.link-main__link span {
  position: relative;
  z-index: 2;
  padding: 10px 50px;
  font-family: Comfortaa;
  font-size: 30px;
  text-align: center;
  color: #e38d8f;
  background-color: #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.link-main__link span:hover {
  color: #848e65;
}

.link-main__link.green span {
  color: #848e65;
}

.link-main__link.green span:hover {
  color: #e38d8f;
}

.catalog {
  background-color: #fff;
}

.catalog__body {
  display: flex;
}

.no-webp .catalog__link {
  background: url("../img/main-1.png") center center/cover no-repeat; }

.interior {
  background-color: #fff;
}

.interior__body {
  display: flex;
}

.interior .content-main__icon {
  position: relative;
  right: 8px;
}

.no-webp .interior__link {
  background: url("../img/main-2.png") center center/cover no-repeat; }

.delivery__body {
  display: flex;
}

.delivery .link-main:nth-child(1) {
  position: relative;
  z-index: 2;
}

.no-webp .delivery .link-main:nth-child(1) .link-main__link {
  background: #878e6f url("../img/main-3.png") center center/cover no-repeat; }

.no-webp .delivery .link-main:nth-child(3) .link-main__link {
  background: #d69e9f url("../img/main-4.png") center center/cover no-repeat; }

.mailing {
  padding: 70px 0;
}

.mailing__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing__logo {
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #e38d8f;
}

.mailing__text {
  margin: 35px 0 25px 0;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  color: #777;
}

.mailing__form {
  display: flex;
}

.mailing__input {
  font-family: Lato;
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
  border: 1px solid #777;
  border-right: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: all 0.3s ease 0s;
  caret-color: #777;
}

.mailing__input.error {
  border: 1px solid #bb6767;
  color: #bb6767;
  border-right: none;
}

.mailing__input.error:focus {
  border: 1px solid #bb6767;
  border-right: none;
}

.mailing__input:focus {
  border: solid 1px #e38d8f;
  border-right: none;
}

.mailing__button {
  width: 160px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #e38d8f;
  transition: all 0.3s ease 0s;
}

.mailing__button:hover {
  background-color: #bb7576;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.4s ease 0s;
  z-index: 70;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  transform: scale(1);
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.popup__content {
  background-color: #fff;
  width: 800px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  transition: all 0.4s ease 0s;
  opacity: 0;
  transform: scale(0.5);
}

.popup__close {
  position: absolute;
  top: 0;
  right: -40px;
  color: #fff;
  font-size: 30px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.popup__close:hover {
  transform: scale(1.1);
}

.interior-popup__body {
  display: flex;
  justify-content: space-between;
}

.interior-popup__image {
  position: relative;
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
  flex: 0 0 auto;
}

.interior-popup__image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.interior-popup__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-interior {
  align-self: start;
  width: calc((100% - 20px) / 2);
  display: flex;
  justify-content: space-between;
}

.item-interior__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-interior__title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-align: left;
  color: #333;
}

.item-interior__title span {
  font-family: Lato;
  font-weight: 400;
}

.item-interior__price {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  color: #333;
  margin-top: 5px;
}

.item-interior__price span {
  font-family: Comfortaa;
}

.item-interior__image {
  position: relative;
  width: 140px;
  border-radius: 20px;
  overflow: hidden;
}

.item-interior__image::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.item-interior__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-add {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 45px;
  background-color: #e38d8f;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: left;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.button-add:hover {
  background-color: #bb7576;
}

.button-add.active {
  background-color: #848e65;
}

.button-add.active:hover {
  background-color: #77815c;
}

.button-add.active span:nth-child(1) {
  opacity: 0;
  top: -100%;
}

.button-add.active span:nth-child(2) {
  opacity: 1;
  top: 0;
}

.button-add span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  transition: top 0.3s ease 0s, opacity 0.2s ease 0s;
}

.button-add span:nth-child(1) {
  top: 0;
}

.button-add span:nth-child(2) {
  opacity: 0;
  top: 100%;
}

.swiper__arrows {
  padding-top: 10px;
  padding-left: 10px;
  border-top-left-radius: 30px;
  position: absolute;
  z-index: 150;
  bottom: 20px;
  right: 20px;
  display: flex;
  background-color: #fff;
}

.swiper__arrow {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border: 2px solid #333;
  transition: all 0.3s ease 0s;
}

.swiper__arrow:hover {
  background-color: #fff;
  color: #333;
}

.swiper__arrow.swiper-button-disabled {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  color: #777;
  cursor: default;
}

.arrow-prev {
  margin-right: 15px;
}

.success-mailing {
  position: fixed;
  z-index: 61;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
}

.success-mailing span {
  width: 350px;
  height: 50px;
  background-color: #e38d8f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 20px;
  color: #fff;
}

.success-mailing.active {
  visibility: visible;
  opacity: 1;
}

.products__buttons {
  padding-top: 110px;
}

.products__row {
  display: inline-flex;
  position: relative;
}

.products__button {
  border-radius: 20px;
  background-color: #e38d8f;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.54px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.products__button:hover {
  background-color: #bb7576;
}

.products__button i {
  margin-right: 10px;
}

.products__filt {
  margin-right: 10px;
}

.products__sort i {
  transform: rotate(90deg);
}

.products__filters {
  display: flex;
  flex-wrap: wrap;
}

.products__filter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #d9d9d9;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.54px;
  text-align: left;
  color: #999;
  cursor: pointer;
}

.products__filter span {
  font-family: Lato;
}

.products__filter i {
  margin-right: 10px;
}

.products__clear {
  margin-top: 10px;
  border-radius: 30px;
  border: solid 2px #999;
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.54px;
  text-align: left;
  color: #999;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.products__clear:hover {
  border: solid 2px #777;
  background-color: #777;
  color: #fff;
}

.filter__settings {
  position: absolute;
  z-index: 5;
  top: 48px;
  left: 0;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  transform: scale(0);
  opacity: 0;
  transform-origin: top left;
  transition: all 0.3s ease 0s;
}

.filter__settings.active {
  opacity: 1;
  transform: scale(1);
}

.filter__title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.42px;
  text-align: left;
  color: #333;
}

.filter__title:nth-child(3) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter__row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filter__price {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.42px;
  text-align: left;
  color: #777;
  margin-right: 7px;
}

.filter__input {
  padding: 5px 10px;
  width: 75px;
  border-radius: 10px;
  border: solid 1px #777;
  background-color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.42px;
  text-align: left;
}

.filter__input::-moz-placeholder {
  color: #777;
}

.filter__input::placeholder {
  color: #777;
}

.filter__input:nth-child(2) {
  margin-right: 7px;
}

.filter__check {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  cursor: pointer;
}

.filter__check:last-child {
  margin-bottom: 0;
}

.filter__checkbox {
  cursor: pointer;
  display: none;
}

.filter__checkbox:checked + .filter__label {
  color: #333;
}

.filter__checkbox:checked + .filter__label::after {
  background-color: #e38d8f;
}

.filter__label {
  margin-top: 2px;
  cursor: pointer;
  padding-left: 20px;
  margin-left: 7px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.42px;
  text-align: left;
  color: #777;
  transition: all 0.3s ease 0s;
}

.filter__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: #d9d9d9;
  transition: all 0.3s ease 0s;
}

.filter__button {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: #e38d8f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.54px;
  text-align: left;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.filter__button:hover {
  background-color: #bb7576;
}

.sort__settings {
  position: absolute;
  z-index: 5;
  top: 48px;
  right: 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.2);
  transform: scale(0);
  opacity: 0;
  transform-origin: top right;
  transition: all 0.3s ease 0s;
}

.sort__settings.active {
  transform: scale(1);
  opacity: 1;
}

.sort__item {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.42px;
  text-align: left;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sort__item:hover {
  background-color: #d9d9d9;
}

.sort__item:first-child {
  padding-top: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sort__item:last-child {
  padding-bottom: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.products__items {
  margin: 0 -10px;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.item-product {
  width: calc((100% - 80px) / 4);
  margin: 0 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-product.hide {
  display: none;
}

.item-product.price-hide {
  display: none;
}

.item-product__image {
  position: relative;
  width: 100%;
}

.item-product__image::after {
  content: "";
  background-color: #e9e9e9;
  border-radius: 20px;
  display: block;
  width: 100%;
  padding-top: 100%;
}

.item-product__image source {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.item-product__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.item-product__title {
  margin-top: 15px;
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.54px;
  text-align: center;
  color: #333;
}

.item-product__price {
  margin-top: 5px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-align: left;
  color: #333;
}

.item-product__price span {
  font-family: Comfortaa;
}

.item-product__button {
  margin-top: 20px;
}

.item-product__loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.item-product__loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #e38d8f;
  box-shadow: 32px -34px 0 5px #bb7576;
  animation: slide 2s infinite ease-in-out alternate;
}

.item-product__loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #bb7576;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%, 100% {
    bottom: -35px;
  }

  25%, 75% {
    bottom: -2px;
  }

  20%, 80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%, 75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.title-block {
  padding-top: 110px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.title-block__title {
  font-family: Comfortaa;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}

.title-block__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-block__icon {
  position: relative;
  margin-top: 20px;
}

.title-block__icon::before,
.title-block__icon:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  width: 60px;
  height: 2px;
  background-color: #333;
}

.title-block__icon::before {
  left: calc(100% + 10px);
}

.title-block__icon::after {
  right: calc(100% + 10px);
}

.title-block__text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.05em;
  color: #333;
}

.title-block__text p {
  margin-bottom: 10px;
}

.title-block__text p:last-child {
  margin-bottom: 0;
}

.title-block__text span {
  font-family: Lato;
}

.delivery-zone__map {
  border-radius: 20px;
  overflow: hidden;
  height: 700px;
}

.delivery-zone {
  padding-bottom: 30px;
}

.title-block.contacts img {
  height: 70px;
}

.contacts-block {
  background: #848e65;
  display: flex;
  justify-content: space-between;
  height: 700px;
}

.contacts-block__content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-block__info {
  max-width: 350px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.contacts-block__title {
  font-family: Comfortaa, sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  color: #333;
}

.contacts-block p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #333;
}

.contacts-block p span {
  font-family: Lato;
}

.contacts-block__map {
  width: 50%;
  height: 100%;
}

.order {
  padding-top: 110px;
  padding-bottom: 60px;
}

.order.hide {
  display: none;
}

.order.hide ~ .order__empty {
  display: flex;
}

.order.hide ~ .order__success {
  display: none;
}

.order.success {
  display: none;
}

.order.success ~ .order__empty {
  display: none;
}

.order.success ~ .order__success {
  display: flex;
}

.order__error {
  display: none;
  font-size: 14px;
  font-weight: 400;
  color: #bb6767;
}

.order__error.active {
  margin-top: 5px;
  display: block;
}

.order__title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  color: #333;
  text-transform: uppercase;
}

.order__form {
  width: calc(100% - 440px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 25px;
}

.order__item {
  width: calc((100% - 40px) / 2);
  margin-bottom: 15px;
}

.order__item.order__checkbox {
  display: flex;
  flex-direction: column;
}

.order__item.order__checkbox .order__input {
  display: none;
}

.order__item.order__checkbox .order__input:checked + .order__label {
  color: #333;
}

.order__item.order__checkbox .order__input:checked + .order__label::before {
  background-color: #e38d8f;
  border: 1px solid #e38d8f;
}

.order__item.order__checkbox .order__label {
  cursor: pointer;
  margin-top: 8px;
  padding-left: 21px;
  position: relative;
}

.order__item.order__checkbox .order__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #777;
  transition: all 0.3s ease 0s;
}

.order__item.hide {
  display: none;
}

.order__name {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #333;
}

.order__input {
  margin-top: 5px;
  border-radius: 20px;
  border: solid 1px #777;
  background-color: #fff;
  height: 35px;
  max-width: 300px;
  width: 100%;
  padding: 10px 15px;
  font-family: Comfortaa;
  font-size: 18px;
  caret-color: #777;
  transition: all 0.3s ease 0s;
}

.order__input:focus {
  border: solid 1px #333;
}

.order__input.error {
  border: solid 1px #bb6767;
  color: #bb6767;
}

.order__input.error:focus {
  border: solid 1px #bb6767;
}

.order__label {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #777;
  transition: all 0.3s ease 0s;
}

.order textarea {
  font-family: Comfortaa;
  caret-color: #777;
  font-size: 18px;
  margin-top: 5px;
  padding: 10px 15px;
  resize: none;
  max-width: 300px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: solid 1px #777;
  background-color: #fff;
  transition: all 0.3s ease 0s;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.order textarea::-webkit-scrollbar {
  display: none;
}

.order textarea:focus {
  border: solid 1px #333;
}

.order__sum {
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  color: #333;
  text-align: center;
}

.order__sum span {
  font-family: Comfortaa;
}

.order__bottom {
  width: 100%;
}

.order__button {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  height: 45px;
  border-radius: 30px;
  background-color: #e38d8f;
  font-family: Raleway;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.order__button:hover {
  background-color: #bb7576;
}

.cart-order {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  width: 420px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.cart-order__title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.66px;
  text-align: left;
  color: #333;
}

.cart-order__items {
  position: relative;
  margin-top: 15px;
}

.cart-order__items::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
}

.cart-order__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.cart-order__item:last-child {
  margin-bottom: 0;
}

.cart-order__left {
  display: flex;
}

.cart-order__image {
  position: relative;
  width: 80px;
}

.cart-order__image::after {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}

.cart-order__image img {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-order__info {
  margin-left: 10px;
}

.cart-order__name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-align: left;
  color: #333;
}

.cart-order__name span {
  font-family: Lato;
}

.cart-order__price {
  margin-top: 5px;
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #333;
}

.cart-order__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-order__button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #848e65;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.cart-order__button:hover {
  background-color: #77815c;
}

.cart-order__button.disabled {
  background-color: #d9d9d9;
  color: #777;
  cursor: default;
  pointer-events: none;
}

.cart-order__counter {
  display: flex;
}

.cart-order__count {
  width: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-align: left;
  color: #333;
}

.cart-order__delete {
  width: 100%;
  background-color: #bb6767;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cart-order__delete:hover {
  background-color: #a55f5f;
}

.cart-order__delivery {
  margin-top: 35px;
}

.cart-order__sum {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #333;
}

.cart-order__sum span {
  font-weight: 700;
  font-family: Comfortaa;
}

.delivery-cart {
  display: flex;
  justify-content: space-between;
}

.delivery-cart__title {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #333;
}

.delivery-cart__price {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #333;
}

.order-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}

.message-order__text {
  font-family: Comfortaa;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.message-order__link {
  padding: 10px 50px;
  background-color: #e38d8f;
  font-size: 20px;
  color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
}

.message-order__link:hover {
  background-color: #bb7576;
}

@media (max-height: 560px) and (min-width: 769px) {
  .cart__body {
    height: 320px;
  }
}

@media (max-width: 1400px) {
  .content-main {
    padding: 40px 40px 80px 40px;
    width: 45%;
  }

  .content-main.delivery {
    width: 33.3333333333%;
  }

  .welcome__content {
    width: 100%;
    padding: 40px 0;
  }

  .link-main {
    width: 65%;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 40px 0;
  }

  .cart-wrapper {
    bottom: 20px;
    right: 20px;
  }

  .content-main {
    padding: 40px 40px 60px 40px;
  }

  .content-main__title {
    margin: 25px 0 20px 0;
  }

  .content-main__text {
    line-height: 1.5;
  }

  .content-main__text::after {
    bottom: -30px;
  }

  .welcome__content {
    padding: 30px 0;
  }

  .link-main span {
    padding: 10px 45px;
    font-size: 28px;
  }

  .success-mailing {
    bottom: 20px;
  }

  .item-product {
    width: calc((100% - 60px) / 3);
  }

  .delivery-zone__map {
    height: 600px;
  }

  .contacts-block {
    height: 600px;
  }
}

@media (max-width: 1150px) {
  .order__form {
    width: 400px;
    display: block;
  }

  .order__item {
    width: 100%;
  }

  .order__button {
    max-width: none;
  }

  .order__input {
    max-width: none;
  }

  .order textarea {
    max-width: none;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 100px;
  }

  .hero__subtitle {
    font-size: 28px;
  }

  .content-main {
    padding: 30px 30px 60px 30px;
    width: 50%;
  }

  .content-main__title {
    margin: 25px 0 20px 0;
  }

  .content-main__text {
    line-height: 1.5;
  }

  .content-main__text::after {
    bottom: -30px;
  }

  .content-main.delivery {
    width: 50%;
  }

  .welcome__content {
    width: 100%;
    padding: 30px 0;
  }

  .link-main {
    width: 50%;
  }

  .link-main.left {
    width: 100%;
    padding-top: 35%;
  }

  .link-main.right {
    width: 50%;
  }

  .delivery__body {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .mailing {
    padding: 50px 0;
  }

  .delivery-zone__map {
    height: 500px;
  }

  .contacts-block {
    height: 500px;
  }
}

@media (max-width: 900px) {
  .popup__content {
    width: 400px;
    padding: 20px 20px 85px 20px;
  }

  .interior-popup__image {
    width: 100%;
  }

  .interior-popup__item {
    margin-top: 20px;
    width: 100%;
  }

  .interior-popup__body {
    flex-direction: column;
  }

  .swiper__arrows {
    width: 100%;
    right: 0;
    bottom: 0;
    padding: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: space-between;
  }

  .swiper__arrow {
    border-radius: 30px;
    width: calc((100% - 20px) / 2);
  }

  .arrow-prev {
    margin-right: 0;
  }

  .contacts-block {
    flex-direction: column;
    height: 800px;
  }

  .contacts-block__content {
    width: 100%;
    height: 50%;
    padding: 20px;
  }

  .contacts-block__map {
    width: 100%;
    height: 50%;
  }

  .order__form {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .order__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .order__form {
    width: 100%;
  }

  .order__cart {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .spinner {
    font-size: 30px;
  }

  .footer__body {
    flex-wrap: wrap;
  }

  .footer__column {
    width: auto;
  }

  .footer__links {
    width: auto;
  }

  .footer__icons {
    margin-top: 30px;
    order: 3;
    width: 100%;
  }

  .cart {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
  }

  .cart-wrapper {
    z-index: 66;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: all 0.3s ease 0s;
  }

  .cart-wrapper.closed {
    right: -100%;
  }

  .cart.closed .cart__body {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .cart.closed .cart__header {
    opacity: 1;
    visibility: visible;
  }

  .cart.closed .cart__items {
    opacity: 1;
    visibility: visible;
  }

  .cart.closed .cart__button {
    opacity: 1;
    visibility: visible;
  }

  .cart__body {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border: none;
    padding: 15px;
  }

  .cart__items {
    max-height: calc(100% - 100px);
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .cart__items::-webkit-scrollbar {
    display: none;
  }

  .cart__button {
    bottom: 15px;
    left: 15px;
    width: calc(100% - 30px);
  }

  .cart__close {
    top: 5px;
    right: 0px;
    padding: 10px 20px;
  }

  .cart__icon {
    display: none;
  }

  .cart__icon-mobile {
    position: fixed;
    bottom: 15px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #777;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 59;
  }

  .cart__icon-mobile.hide {
    opacity: 0;
    visibility: hidden;
  }

  .hero__title {
    font-size: 80px;
  }

  .hero__subtitle {
    font-size: 24px;
  }

  .hero__content {
    position: relative;
    top: -50px;
  }

  .content-main {
    width: 100%;
    padding: 40px 20px 60px 20px;
  }

  .content-main.delivery {
    width: 100%;
  }

  .content-main__title {
    font-size: 20px;
  }

  .content-main__text {
    font-size: 18px;
  }

  .link-main {
    width: 100%;
    padding-top: 50%;
  }

  .link-main.right {
    width: 100%;
  }

  .link-main.left {
    width: 100%;
    padding-top: 50%;
  }

  .catalog__body {
    flex-direction: column;
  }

  .interior__body {
    flex-direction: column-reverse;
  }

  .delivery__body {
    flex-direction: column-reverse;
  }

  .success-mailing {
    bottom: 15px;
  }

  .products__buttons {
    padding-top: 80px;
  }

  .products__button {
    font-size: 17px;
  }

  .products__filter {
    font-size: 17px;
  }

  .products__clear {
    font-size: 17px;
  }

  .item-product {
    width: calc((100% - 40px) / 2);
  }

  .title-block {
    padding-top: 90px;
  }

  .delivery-zone__map {
    height: 400px;
  }

  .order {
    padding-top: 85px;
  }

  .order-message {
    padding-top: 120px;
  }
}

@media (max-width: 767px) {
  .header.main .header__list {
    position: relative;
    top: 0;
    left: 0;
  }

  .header.main.top .header__link {
    color: #333;
  }

  .header.active .header__menu {
    right: 0;
    opacity: 1;
  }

  .header.active .header__burger svg {
    transform: rotate(45deg);
  }

  .header.active .header__burger svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .header.active .header__list li {
    transform: translateX(0%);
    opacity: 1;
  }

  .header.active .header__list li:nth-child(1) {
    transition: all 0.3s ease-out 0.3s;
  }

  .header.active .header__list li:nth-child(2) {
    transition: all 0.3s ease-out 0.45s;
  }

  .header.active .header__list li:nth-child(3) {
    transition: all 0.3s ease-out 0.6s;
  }

  .header__burger {
    display: block;
  }

  .header__body {
    height: 60px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 120px 10px 20px 10px;
    transition: all 0.5s ease 0s;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .header__list {
    flex-direction: column;
    align-items: center;
  }

  .header__list li {
    position: relative;
    margin-right: 0;
    margin-bottom: 20px;
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0s ease 0.5s;
  }

  .header__list li:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 30px;
  }
}

@media (max-width: 666px) {
  .mailing__form {
    width: 100%;
  }

  .mailing__input {
    width: 70%;
  }

  .mailing__button {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .hero__title {
    font-size: 60px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .link-main {
    padding-top: 70%;
  }

  .link-main.left {
    padding-top: 70%;
  }

  .link-main.right {
    padding-top: 70%;
  }

  .mailing {
    padding: 40px 0;
  }

  .mailing__text {
    margin: 25px 0px 20px 0px;
  }

  .mailing__input {
    width: 60%;
  }

  .mailing__button {
    width: 40%;
  }

  .mailing__form {
    flex-direction: column;
    align-items: center;
  }

  .mailing__text {
    margin: 25px 0px 20px 0px;
  }

  .mailing__input {
    width: 100%;
    border: 1px solid #777;
    border-radius: 25px;
  }

  .mailing__input:focus {
    border: 1px solid #e38d8f;
  }

  .mailing__input.error {
    border: 1px solid #bb6767;
  }

  .mailing__input.error:focus {
    border: 1px solid #bb6767;
  }

  .mailing__button {
    margin-top: 15px;
    width: 100%;
    border-radius: 25px;
  }

  .success-mailing span {
    font-size: 18px;
    width: calc(100% - 40px);
  }

  .products__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .products__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .filter__settings {
    width: 100%;
    top: 45px;
    transform-origin: top center;
  }

  .sort__settings {
    top: 92px;
    width: 100%;
    transform-origin: top center;
  }

  .products__row {
    display: flex;
    flex-direction: column;
  }

  .products__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products__button:nth-child(2) {
    margin-top: 10px;
  }

  .title-block__title {
    font-size: 25px;
  }

  .title-block__text {
    font-size: 17px;
    letter-spacing: 0.03em;
  }
}

@media (max-width: 510px) {
  .footer__address {
    max-width: none;
  }

  .footer__links {
    margin-top: 10px;
    align-items: start;
  }

  .footer__link {
    text-align: center;
  }

  .footer__body {
    flex-direction: column;
    align-items: start;
  }

  .footer__icons {
    justify-content: start;
    margin-top: 15px;
  }
}

@media (max-width: 500px) {
  .popup {
    overflow: hidden;
    background-color: transparent;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    opacity: 1;
  }

  .popup.open .popup__content {
    right: 0;
  }

  .popup__body {
    position: relative;
    padding: 0;
    overflow: hidden;
    align-items: end;
  }

  .popup__content {
    padding: 15px 15px 65px 15px;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0px;
    overflow: hidden;
    transform: scale(1);
  }

  .popup__close {
    top: 25px;
    right: 25px;
    z-index: 150;
    background-color: #fff;
    color: #333;
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .swiper__arrows {
    padding: 15px;
  }

  .swiper__arrow {
    width: calc((100% - 15px) / 2);
  }

  .swiper {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .interior-popup__body {
    max-height: calc(100vh - 90px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .item-product {
    width: calc(100% - 20px);
  }
}

@media (max-width: 450px) {
  .item-cart {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .item-cart__image {
    width: 140px;
  }

  .item-cart__price {
    margin-top: 3px;
  }

  .item-cart__counter {
    width: 140px;
    justify-content: space-between;
  }

  .item-cart__right {
    margin-top: 15px;
    justify-content: space-between;
    flex-direction: row;
  }

  .item-cart__delete {
    width: 100px;
    height: 35px;
    border-radius: 30px;
  }

  .contacts-block__title {
    line-height: 1.2;
    font-size: 23px;
  }

  .contacts-block p {
    font-size: 18px;
  }

  .cart-order {
    width: 100%;
    padding: 15px 10px;
  }

  .cart-order__item {
    position: relative;
    flex-direction: column;
  }

  .cart-order__image {
    width: 120px;
  }

  .cart-order__right {
    margin-top: 10px;
    flex-direction: row;
  }

  .cart-order__counter {
    width: 120px;
    justify-content: space-between;
  }

  .cart-order__delete {
    width: 100px;
  }

  .order__content {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .link-main {
    padding-top: 90%;
  }

  .link-main.left {
    padding-top: 90%;
  }

  .link-main.right {
    padding-top: 90%;
  }
}

@media (max-width: 360px) {
  .title-block__title {
    font-size: 23px;
  }
}

@media (max-width: 350px) {
  .success-mailing span {
    font-size: 17px;
  }
}

.webp .hero { background: #f2bdbd url(../img/bg.webp) center center/cover no-repeat; }

.webp .catalog__link { background: url(../img/main-1.webp) center center/cover no-repeat; }

.webp .interior__link { background: url(../img/main-2.webp) center center/cover no-repeat; }

.webp .delivery .link-main:nth-child(1) .link-main__link { background: #878e6f url(../img/main-3.webp) center center/cover no-repeat; }

.webp .delivery .link-main:nth-child(3) .link-main__link { background: #d69e9f url(../img/main-4.webp) center center/cover no-repeat; }